form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    div {
        label {
            font-weight: bold;
        }

        input,
        select {
            width: 100%;
            height: 50px;
            margin: 5px 5px;
        }

        ::placeholder {
            text-transform: capitalize;
        }

        .react-datepicker-ignore-onclickoutside label {
            text-align: left;
            margin-left: 5px;
            text-transform: capitalize;
            font-weight: bold;
        }

        .errorTitle {
            color: red;
        }
    }
}